body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color : green;
    position:relative;
}

header,h1,h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

#main_header {
    position : relative;
}

nav {
    background-color : yellow;
}

nav ul li {
    float : left;
    background-color : red;
}

section {
    background-color : #99FF99;
}

.section_content {
    background-color : #FFFF66;
}

#name {
    background-color : blue;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

/* TODO
.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}*/

