body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #000000;
    position: relative;
}

header, h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

nav ul li {
    float: left;
}

a {
    color: #b27f00;
}

    a:hover {
        color: #ffc943;
    }

#binary-background {
    position: fixed;
    width: 960px;
    height: 6000px;
    background: url("../images/binary.gif") repeat;
    background-position: 0 0;
    z-index: -1000;
    opacity: 0.99;
}

.section-content {
    /*background-color : red;*/
    background-color: #3561d4;
    display: none;
}

    .section-content h2 {
        font-size: 140%;
        background-color: #1c45b2;
        color: #ffc943;
        z-index: 100;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .section-content h3 {
        font-size: 110%;
        font-style: italic;
        background-color: #3561d4;
        color: #ffc943;
        z-index: 100;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .section-content h4 {
        font-size: 100%;
        font-style: italic;
        background-color: #1c45b2;
        color: #ffc943;
        z-index: 100;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .section-content p, .section-content ul {
        color: #ffc943;
        /*background-color : #3561d4;*/
        padding-top: 5px;
        padding-bottom: 5px;
        text-indent: 2em;
    }

.section-container {
    /*background-color : green;*/
    /*background-color : #3561d4;*/
    /*height : 100%;*/
}

#name {
    padding: 20px 0;
    background-color: #1c45b2;
    color: #ffc943; /*#0046ff;*/
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-weight: bold;
    font-size: 350%;
    text-align: left;
    letter-spacing: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shadow {
    text-shadow: 2px 2px 0 #0b1a44, 3px 3px 0 #b27f00, 4px 4px 0 #b27f00, 5px 5px 0 #b27f00, 6px 6px 0 #0b1a44, 7px 7px 0 #0b1a44;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -ms-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
}

    .shadow:hover {
        position: relative;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

.current-article {
    display: block;
}

.contact_list li {
    list-style-type: none;
}

    .contact_list li a img {
        height: 140px;
    }

    .contact_list li a p {
        color: #b27f00;
        height: 140px;
        line-height: 140px;
        font-size: 160%;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }

        .contact_list li a p:hover {
            color: #ffc943;
        }

/* Intro screen down arrow */
.down-arrow {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 120px;
}

.down-arrow-image {
    position: absolute;
    bottom: 60px;
    height: 60px;
    width: 120px;
    background: url("../images/down-arrows-120x60px.png") no-repeat;
    background-position: 0 0;
}

    .down-arrow-image:hover {
        background-position: -120px 0;
    }

    .down-arrow-image:active {
        background-position: -240px 0;
    }

/* Article navigation arrows */
.back-arrow-image {
    display: block;
    height: 60px;
    width: 60px;
    background: url("../images/arrows-60px.png") no-repeat;
    background-position: 0 -60px;
}

    .back-arrow-image:hover {
        background-position: -60px -60px;
    }

    .back-arrow-image:active {
        background-position: -120px -60px;
    }

.forward-arrow-image {
    display: block;
    height: 60px;
    width: 60px;
    background: url("../images/arrows-60px.png") no-repeat;
    background-position: 0 0;
}

    .forward-arrow-image:hover {
        background-position: -60px 0;
    }

    .forward-arrow-image:active {
        background-position: -120px 0;
    }

/* Parallax Stuff */
#parallax_viewport {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.layer {
    position: absolute;
    background-repeat: repeat;
    height: 200%;
    width: 200%;
    top: -1000px;
}

#parallax_parent {
    position: absolute;
    top: -50%;
    left: -50%;
    overflow: hidden;
    height: 200%;
    width: 200%;
}


#big_layer {
    background: url("../images/background_big.png") repeat;
    z-index: -100;
}

#med_layer {
    background: url("../images/background_med.png") repeat;
    z-index: -200;
}

#small_layer {
    background: url("../images/background_small.png") repeat;
    z-index: -300;
}

/* No Touch devices */
.cd-nav-trigger {
    display: none;
}

.no-touch #vertical_nav {
    position: fixed;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

    .no-touch #vertical_nav li {
        text-align: left;
    }

    .no-touch #vertical_nav a {
        display: inline-block;
        /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }

        .no-touch #vertical_nav a:after {
            content: "";
            display: table;
            clear: both;
        }

        .no-touch #vertical_nav a span {
            float: left;
            display: inline-block;
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            -ms-transform: scale(0.6);
            -o-transform: scale(0.6);
            transform: scale(0.6);
        }

        .no-touch #vertical_nav a:hover span {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }

        .no-touch #vertical_nav a:hover .nav_label {
            opacity: 1;
            border-radius: 15%;
        }

        .no-touch #vertical_nav a.is-selected .nav_dot {
            background-color: #ffc943;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }

    .no-touch #vertical_nav .nav_dot {
        position: relative;
        /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
        top: 8px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #b27f00;
        -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
        -moz-transition: -moz-transform 0.2s, background-color 0.5s;
        -o-transition: -o-transform 0.2s, background-color 0.5s;
        transition: transform 0.2s, background-color 0.5s;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .no-touch #vertical_nav .nav_label {
        position: relative;
        margin-right: 10px;
        padding: .4em .5em;
        color: #ffc943;
        background-color: #3561d4;
        border-radius: 6%;
        font-size: 14px;
        font-size: 0.875rem;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        -moz-transition: -moz-transform 0.2s, opacity 0.2s;
        -o-transition: -o-transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s;
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 0 50%;
    }

/* Touch devices */
.touch .cd-nav-trigger {
    display: block;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
}

    .touch .cd-nav-trigger span {
        position: absolute;
        height: 4px;
        width: 4px;
        background-color: #3e3947;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

        .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: inherit;
            border-radius: inherit;
        }

        .touch .cd-nav-trigger span::before {
            top: -9px;
        }

        .touch .cd-nav-trigger span::after {
            bottom: -9px;
        }

.touch #cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
}

    .touch #cd-vertical-nav a {
        display: block;
        padding: 1em;
        border-bottom: 1px solid rgba(62, 57, 71, 0.1);
    }

        .touch #cd-vertical-nav a span:first-child {
            display: none;
        }

        .touch #cd-vertical-nav a.is-selected span:last-child {
            color: #d88683;
        }

    .touch #cd-vertical-nav.open {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

        .touch #cd-vertical-nav.open + .cd-nav-trigger {
            background-color: transparent;
        }

            .touch #cd-vertical-nav.open + .cd-nav-trigger span {
                background-color: rgba(62, 57, 71, 0);
            }

                .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
                    background-color: #3e3947;
                    height: 3px;
                    width: 20px;
                    border-radius: 0;
                    left: -8px;
                }

                .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 1px;
                }

                .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -ms-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                    bottom: 0;
                }

    .touch #cd-vertical-nav li:last-child a {
        border-bottom: none;
    }

@media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
        bottom: 40px;
    }
}

.slideInRight {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    -ms-animation-name: slideInRight;
    -o-animation-name: slideInRight;
    animation-name: slideInRight;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(-100%) rotate(15deg);
    }

    to {
        -webkit-transform: translate(0%) rotate(0deg);
    }
}
@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(-100%) rotate(15deg);
    }

    to {
        -moz-transform: translate(0%) rotate(0deg);
    }
}
@-o-keyframes slideInRight {
    from {
        -o-transform: translateX(-100%) rotate(15deg);
    }

    to {
        -o-transform: translate(0%) rotate(0deg);
    }
}
@-ms-keyframes slideInRight {
    from {
        -ms-transform: translateX(-100%) rotate(15deg);
    }

    to {
        -ms-transform: translate(0%) rotate(0deg);
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(-100%) rotate(15deg);
    }

    to {
        transform: translate(0%) rotate(0deg);
    }
}

.slideOutRight {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-name: slideOutRight;
    -moz-animation-name: slideOutRight;
    -ms-animation-name: slideOutRight;
    -o-animation-name: slideOutRight;
    animation-name: slideOutRight;
}
@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translateX(-0%) rotate(0deg);
    }

    to {
        -webkit-transform: translate(100%) rotate(-15deg);
    }
}

.slideInLeft {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-name: slideInLeft;
    -moz-animation-name: slideInLeft;
    -ms-animation-name: slideInLeft;
    -o-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translateX(100%) rotate(-15deg);
    }

    to {
        -webkit-transform: translate(0%) rotate(0deg);
    }
}

.slideOutLeft {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-name: slideOutLeft;
    -moz-animation-name: slideOutLeft;
    -ms-animation-name: slideOutLeft;
    -o-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}
@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translateX(0%) rotate(0deg);
    }

    to {
        -webkit-transform: translate(-100%) rotate(15deg);
    }
}